<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="shortcut icon" href="/static/favicon.ico" />
	<meta name="description" content="VNIT Student Notifications is a web-app for giving updates of the latest notifications on VNIT's Student Notice Board." />
	<meta name="keywords" content="VNITStudentNotifications, VNITStudNotifs, VNIT, Nagpur, NIT, Student, Notifications, Updates" />
	<meta http-equiv="cache-control" content="no-store" />
	<meta http-equiv="content-language" content="en-US" />
	<link rel="stylesheet" href="/static/style.css" type="text/css" media="screen" />
	<!--Google Analytics-->
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-41772592-1', 'vnitstudentnotifications.appspot.com');
	  ga('send', 'pageview');

	</script>
	<!--End of Google Analytics script-->
	<title>About</title>
</head>
<body>
	<h2><b><a href="/">VNIT Student Notifications Checker</a></b></h2>
	This is a web app developed by <a href="https://www.facebook.com/ashishnitinpatil">Ashish Nitin Patil</a> aka <a href="https://www.twitter.com/ashishnpatil">!mmorta!</a>.
	<br>It periodically checks the <a href="{{url}}">VNIT Student Notifications</a> website for any new notifications.
	<br>It tweets the new updates/notifications through it's twitter account <a href="https://twitter.com/VNITStudNotifs">VNITStudNotifs</a>
	<br>It then posts the tweet on the <a href="https://www.facebook.com/vnitstudnotifs">FaceBook page - VNITStudNotifs</a> through <a href="https://ifttt.com/recipes/137489">an IFTTT recipe</a>.
	<br>The web app is powered by the <a href="https://developers.google.com/appengine">Google App Engine</a> platform.
	<br>It runs on <a href="https://www.python.org">Python</a> & uses the <a href="https://github.com/tweepy/tweepy">Tweepy</a> python library for tweeting.<br>
	<br>More from !mmorta! - 
	<br><ul>
		<li><a href="https://vnitresanalyser.appspot.com">VNIT Result Analyser</a></li>
		<li><a href="https://vnittimetable.appspot.com">VNIT Time Table Generator</a></li>
	</ul>
	For the nerds out there - <a href="https://github.com/ashishnitinpatil/vnitstudnotifs">Github repo for this Open Source project!</a>
	<br><a href="/changelog">Changelog</a><br>
</body>
</html>
