{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
	<h2><b>VNIT <a href="{{url}}">Student Notifications</a></b>
	<!-- Begin Social Sharing/Like buttons -->
	<span class='st_fblike_hcount' displayText='Facebook Like'></span>
	<span class='st_fbsub_hcount' displayText='Facebook Subscribe' st_username='vnitstudnotifs'></span>
	<span class='st_twitterfollow_hcount' displayText='Twitter Follow' st_username='vnitstudnotifs'></span>
	<!-- End Social Sharing/Like buttons --></h2>
	This is a web app developed & maintained by <a href="https://www.facebook.com/ashishnitinpatil">Ashish Nitin Patil</a>.
	<br>It periodically checks the <a href="{{url}}">VNIT Student Notifications</a> website for any new notifications.
	<br>It tweets the new updates/notifications through it's twitter account <a href="https://twitter.com/VNITStudNotifs">VNITStudNotifs</a>
	<br>It then posts the tweet on the <a href="https://www.facebook.com/vnitstudnotifs">FaceBook page - VNITStudNotifs</a> through <a href="https://ifttt.com/recipes/137489">an IFTTT recipe</a>.
	<br>The web app is powered by the <a href="https://developers.google.com/appengine">Google App Engine</a> platform.
	<br>It runs on <a href="https://www.python.org">Python</a> & uses the <a href="https://github.com/tweepy/tweepy">Tweepy</a> python library for tweeting.<br>
	<br>More useful web apps from me - 
	<br><ul>
		<li><a href="https://vnitresanalyser.appspot.com">VNIT Result Analyser</a></li>
		<li><a href="https://vnitlostnfound.appspot.com">VNIT Lost n Found</a></li>
		<li><a href="https://vnittimetable.appspot.com">VNIT Time Table Generator</a></li>
	</ul>
	For the nerds out there - <a href="https://github.com/ashishnitinpatil/vnitstudnotifs">Github repo for this Open Source project!</a>
	<br><a href="{% url 'coreapp:changelog' %}">Changelog</a><br>
{% endblock %}
