{% extends "base.html" %}

{% block title %}Changelog{% endblock %}

{% block content %}
	<h2><b><a href="{% url 'coreapp:changelog' %}">Changelog</a></b></h2>
	<ul>
	<li>Added facebook like, subscribe & twitter follow buttons</li>
	<li>Added "Last Checked",(v5.1)</li>
	<li>Better templates (v5.1)</li>
	<li>Much better code for proxy routing (v5.1)</li>
	<li>Updates now include links in the "marquee" too (rotating notifications below header). (v5)</li>
	<li>Separate templates directory. (v5)</li>
	<li>Added some pretty CSS (v5)</li>
	<li>Used <a href="https://ifttt.com/recipes/137489">IFTTT</a> to post the <a href="https://twitter.com/VNITStudNotifs">tweets</a> to our <a href="https://www.facebook.com/vnitstudnotifs">new FaceBook page</a></li>
	<li>Updated the <a href="/about">About page</a> & <a href="https://github.com/ashishnitinpatil/vnitstudnotifs/blob/master/README">README</a> accordingly</li>
	<li>Rendered the <a href="{{url}}">correct & latest url</a> dynamically wherever mentioned</li>
	<li>Various silly fixes to static content</li>
	<li>Added a Change log! :-p</li>
	<li>Changed code to accommodate duplicate titles</li>
	</ul>
	Do check out the <a href="https://github.com/ashishnitinpatil/vnitstudnotifs">repo for this Open Source project!</a>
{% endblock %}
