{% extends "base.html" %}

{% block title %}Student Notifications Updates{% endblock %}

{% block content %}
	<h2><b>VNIT <a href="{{url}}">Student Notifications</a></b>
	<!-- Begin Social Sharing/Like buttons -->
	<span class='st_fblike_hcount' displayText='Facebook Like'></span>
	<span class='st_fbsub_hcount' displayText='Facebook Subscribe' st_username='vnitstudnotifs'></span>
	<span class='st_twitterfollow_hcount' displayText='Twitter Follow' st_username='vnitstudnotifs'></span>
	<!-- End Social Sharing/Like buttons --></h2>
	{% if not all %}
	<a href="/?q=all">Click here</a> to show all notifications.
	{% else %}
	<a href="/">Click here</a> to show latest notifications.
	{% endif %}
	<div style="float: right; font-size: 12px; color: #999;">Last Checked - {{ last_checked }}</div><br><hr><br>
	<ol>
	{% for pst in posts %}
		<li>
			<div class="post-title"><font size="4">
			<a href="{{ pst.url }}">{{ pst.title }}</a></font>
			   <a href="/post/{{ pst.key.id }}"><div class="post-date">{{ pst.added_on }}</div></a>
			</div>
		</li>
		<br>
	{% endfor %}
	</ol><br>
	<div style="text-align:center;font-size:20px"><a href="/about">About this Website</a></div><br>
{% endblock %}
